WcfBasicProject/Connected Services/KategoriServiceReference/CategoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Service.Dto.DtoModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Service.Dto.DtoModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDTO" nillable="true" type="tns:ArrayOfCategoryDTO" />
  <xs:complexType name="CategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
</xs:schema>